@model IEnumerable<Ogretmen>
<h2>Öğrenci Listesi</h2>
<hr>
<a href="/Ogretmen/Create" class="btn btn-sm btn-outline-primary">Öğretmen Ekle</a>

<table class="table">
    <thead>
        <th>
            @Html.DisplayNameFor(m=>m.OgretmenId)
        </th>
          <th>
             @Html.DisplayNameFor(m=>m.Ad)
        
        </th>
          <th>
              @Html.DisplayNameFor(m=>m.Soyad)
        
        </th>
          <th>
             @Html.DisplayNameFor(m=>m.Eposta)
          
        </th>
          <th>
            @Html.DisplayNameFor(m=>m.Telefon)
    
        </th>
    </thead>
<tbody>
    @foreach(var ogretmen in Model){
        <tr>
            <td>@ogretmen.OgretmenId</td>
             <td>@ogretmen.Ad</td>
              <td>@ogretmen.Soyad</td>
               <td>@ogretmen.Eposta</td>
                <td>@ogretmen.Telefon</td>
                <td>
                    <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn btn-success">Edit</a>
                    <a asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn btn-danger">Delete</a>
                </td>

        </tr>
    }
</tbody>


</table>